* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search {
  height: 45vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.search img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  position: absolute;
}
.search .content {
  z-index: 50;
  color: #fff;
  /* background-color: blue; */
  padding: 13px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.search h1 {
  /* padding-top: 10px; */
  /* margin-top: 20px; */
  font-size: 3.5rem;
  font-weight: 550;
}
.search p {
  font-size: 1.5rem;
  margin-top: 14px;
}

.search .search-box {
  height: 45px;
  margin: 65px 0;
  position: relative;
}
input,
button,
i {
  outline: none;
  border: none;
  border-radius: 5px;
}

.search-box input {
  width: 100%;
  height: 100%;

  font-size: 1.1rem;
  padding-left: 55px;
}

.search-box i {
  /* height: 100px; */
  position: absolute;
  color: #8d8d8d;
  font-size: 1.5rem;
  /* background-color: white; */
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 15px;
  max-width: 95%;
  margin-top: 40px;
  columns: 5 340px;
  list-style: none;
}
.gallery .images .card {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
.gallery .images img {
  width: 100%;
  z-index: 2;
  position: relative;
}
.images .details {
  position: absolute;
  z-index: 4;
  width: 100%;
  bottom: -100px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  justify-content: space-between;
  transition: bottom 0.1s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.images li:hover .details {
  bottom: 0;
}
.photographer {
  color: #fff;
  display: flex;
  align-items: center;
}
.photographer i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.photographer span {
  font-size: 1.05rem;
}
button,
i {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;
}
.details button {
  background: #fff;
  font-size: 1.1rem;
  padding: 3px 8px;
}
.details .download-btn:hover {
  background: #f2f2f2;
}
.gallery .load-more {
  color: #fff;
  background: #8a6cff;
  margin: 50px 0;
  font-size: 1.2rem;
  padding: 12px 27px;
}
