* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search {
  height: 45vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.search img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  position: absolute;
}
.search .content {
  z-index: 50;
  color: #fff;
  /* background-color: blue; */
  padding: 13px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.search h1 {
  /* padding-top: 10px; */
  /* margin-top: 20px; */
  font-size: 3.5rem;
  font-weight: 550;
}
.search p {
  font-size: 1.5rem;
  margin-top: 14px;
}

.search .search-box {
  height: 45px;
  margin: 65px 0;
  position: relative;
}
input,
button,
i {
  outline: none;
  border: none;
  border-radius: 5px;
}

.search-box input {
  width: 100%;
  height: 100%;

  font-size: 1.1rem;
  padding-left: 55px;
}

.search-box i {
  /* height: 100px; */
  position: absolute;
  color: #8d8d8d;
  font-size: 1.5rem;
  /* background-color: white; */
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 15px;
  columns: 5 340px;
  margin-top: 40px;
  max-width: 95%;
}
.images .card {
  list-style: none;
  margin-bottom: 14px;
  border-radius: 4px;
}
.images img {
  width: 100%;
}
.gallery .load-more {
  margin: 50px 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 12px 27px;
  background: #8a6cff;
}
